<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de la Cachette</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
    </style>
</head>

<body>
    <h1>Détails de la Cachette</h1>
    <p>Nom: <%= cachette.nom %>
    </p>
    <p>Description: <%= cachette.description %>
    </p>
    <p>Longitude: <%= cachette.longitude %>
    </p>
    <p>Latitude: <%= cachette.latitude %>
    </p>
    <p>Difficulté: <%= cachette.difficulte %>
    </p>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([<%= cachette.latitude %>, <%= cachette.longitude %>], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([<%= cachette.latitude %>, <%= cachette.longitude %>]).addTo(map)
            .bindPopup('<%= cachette.nom %><br><%= cachette.description %>')
            .openPopup();
    </script>
</body>

</html>